

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.right	{float: right;}
.left	{float: left;}
.center	{margin:0 auto; text-align:center; }
a:link {color:#232c2e; text-decoration:none;}      /* unvisited link */
a:visited {color:#232c2e; text-decoration:none;}  /* visited link */
a:hover {color:#e85649; text-decoration:none;}  /* mouse over link */
a:active {color:#080909; text-decoration:none;}  /* selected link */
body
{
	text-transform:uppercase;
	font-size:24px;
	font-weight:bold;	
}
#container
{
	width:100%;
	padding:0 10px 0 10px;
}
header
{
	height:40px;
	background:#e9ecda;
	border-bottom: 1px solid #e85649;
}
header h1
{
	font-size:24px;
	color: #e85649;
	margin:0;
	padding:0 0 0 10px;
	display:inline;
}
#nav li
{
	font-size:14px;	
	list-style-type:none;
	display:inline;
	padding:0 20px;
	line-height:40px;
	font-weight:bold;
}
.link-active
{
	color:#e85649;
}

#carousel
{
	height:360px;
	background:url("../img/hero.jpg");	
	border-bottom: 2px solid #232c2e;
}
#about
{
	background:#e85649;
	height:100%;
	padding: 20px 0 20px 0;
}
#about h1
{
	font-size:48px;
}
.subheader
{
	height:125px;
	border-top: 2px solid #a9ab92;
	border-bottom: 2px solid #a9ab92;
	background:#e6e8d2;
	text-align:center;
	line-height:125px;
}
#donate-subheader-text
{
	width:500px;	
}
#personal-subheader-text
{
	width:900px;	
}
.text-big
{
	font-size:48px;	
}
.text-small
{
	font-size:18px;	
}
.head-small-right
{
	line-height:18px;
	margin-top:46px;
}

#section-left, #section-right
{
	width:50%;
	margin:25px 0 25px 0;
}

.sectionHead{
	height: 50px;
	width:100%;
	display: block;
	background-color: green;
}
.sectionContent{
	width:100%;
	height: 100%;
	display: block;
	background-color: grey;
}
.sectionHead.stuck {
	position:fixed;
	top:0;
}









